In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_sector_composition#cite_note-The_World_Factbook_-_GDP_(purchasing_power_parity)-1"

In [3]:
website_url = requests.get(url).text
soup = BeautifulSoup(website_url,'lxml')
table = soup.find("table",{"class":"wikitable sortable"})
# tabletype is different than usual wikitable sortable
body = table.find("tbody")
rows = body.findChildren(['th', 'tr'])

In [8]:
countries = []
agricultural_list = []
industrial_list = []
service_list = []

In [9]:
for row in rows:
    cells = row.findChildren(['td'])
    if len(cells) > 0:
        country = cells[0].findAll('a')[0].text
        if country != '':
            # there is one world row, where the flag is a link but the country is not
            countries.append(country)
            
            agricultural = cells[2].text.split('\n')[0]
            agricultural_list.append(agricultural)
            
            industrial = cells[3].text.split('\n')[0]
            industrial_list.append(industrial)
            
            service = cells[4].text.split('\n')[0]
            service_list.append(service)

In [10]:
df = pd.DataFrame()
df['countries'] = countries
df['agricultural'] = agricultural_list
df['industrial'] = industrial_list
df['service'] = service_list

In [11]:
df.head()

        countries agricultural industrial service
0           World         6.4%      30.0%   63.0%
1           China         7.9%      40.5%   51.6%
2  European Union         1.6%      25.1%   70.9%
3   United States         0.9%      19.1%   80.0%
4           India        15.4%      23.0%   61.5%

In [12]:
df.to_csv('economical_sectors.csv')