In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_system_of_government"

In [3]:
website_url = requests.get(url).text
soup = BeautifulSoup(website_url,'lxml')
table = soup.find("table",{"class":"wikitable sortable"})
body = table.find("tbody")
rows = body.findChildren(['th', 'tr'])

In [14]:
countries = []
const_form_list =[]
head_of_state_list =[]

In [15]:
for row in rows:
    cells = row.findChildren(['td', 'th'])
    if len(cells) > 0:
        if len(cells[0].findAll('a'))> 0:
            country = cells[0].findAll('a')[0].text
#             if country == '':
#                 country = cells[1].findAll('a')[1].text
            countries.append(country)
        
            const_form = cells[1].text.split('\n')[0]
            const_form_list.append(const_form)
            
            head_of_state = cells[2].text.split('\n')[0]
            head_of_state_list.append(head_of_state)

In [16]:
df = pd.DataFrame()
df['countries'] = countries
df['const_form'] = const_form_list
df['head_of_state'] = head_of_state_list

In [17]:
df.head()

     countries               const_form head_of_state
0  Afghanistan                 Republic     Executive
1      Albania                 Republic    Ceremonial
2      Algeria                 Republic     Executive
3      Andorra  Constitutional monarchy    Ceremonial
4       Angola                 Republic     Executive

In [18]:
df.tail()

     countries const_form head_of_state
190  Venezuela   Republic     Executive
191    Vietnam   Republic     Executive
192      Yemen        n/a           n/a
193     Zambia   Republic     Executive
194   Zimbabwe   Republic     Executive

In [19]:
df.to_csv('government_system.csv')