In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_life_expectancy"

In [3]:
website_url = requests.get(url).text
soup = BeautifulSoup(website_url,'lxml')

In [4]:
table = soup.find("table",{"class":"wikitable sortable"})

In [5]:
body = table.find("tbody")

In [6]:
rows = body.findChildren(['th', 'tr'])

In [7]:
lifeexps = []
countries = []

for row in rows:
    cells = row.findChildren(['td'])
    if len(cells) > 0:
        if cells[0].text[0] != '—':
            lifeexp = cells[2].text.split('\n')[0]
            lifeexps.append(lifeexp)
            country = cells[1].findAll('a')[0].text
            countries.append(country)

In [ ]:
# if we are not doing the if cells[0].text[0] != '—':, we also get continent summaries and stuff

In [8]:
df = pd.DataFrame()
df['countries'] = countries
df['lifeexps'] = lifeexps

In [9]:
df.head()

     countries lifeexps
0    Hong Kong     84.7
1        Japan     84.5
2    Singapore     83.7
3  Switzerland     83.6
4        Italy     83.4

In [10]:
df.tail()

                    countries lifeexps
179                   Nigeria     54.3
180              Sierra Leone     54.3
181                      Chad     54.0
182                   Lesotho     53.7
183  Central African Republic     52.8

In [11]:
df.to_csv('lifeexp.csv')