In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_median_age"

In [3]:
website_url = requests.get(url).text
soup = BeautifulSoup(website_url,'lxml')
table = soup.find("table",{"class":"wikitable sortable"})
# tabletype is different than usual wikitable sortable
body = table.find("tbody")
rows = body.findChildren(['th', 'tr'])

In [22]:
countries = []
median_age_list = []
median_age_male_list = []
median_age_female_list = []

In [23]:
for row in rows:
    cells = row.findChildren(['td'])
    if len(cells) > 0:
        country = cells[0].findAll('a')[0].text
        if country != '':
            # there is one world row, where the flag is a link but the country is not
            countries.append(country)
        
            median_age = cells[2].text.split('\n')[0]
            median_age_list.append(median_age)

            median_age_male = cells[3].text.split('\n')[0]
            median_age_male_list.append(median_age_male)

            median_age_female = cells[4].text.split('\n')[0]
            median_age_female_list.append(median_age_female)

In [24]:
df = pd.DataFrame()
df['countries'] = countries
df['median_age'] = median_age_list
df['median_age_male'] = median_age_male_list
df['median_age_female'] = median_age_female_list

In [25]:
df.head()

        countries median_age median_age_male median_age_female
0     Afghanistan       18.9            18.8              18.9
1         Albania       32.9            31.6              34.3
2         Algeria       28.1            27.8              28.4
3  American Samoa       25.5            25.1              26.0
4         Andorra       44.3            44.4              44.1

In [26]:
df.tail()

             countries median_age median_age_male median_age_female
222  Wallis and Futuna       32.2            31.3              33.4
223     Western Sahara       21.1            20.9              21.3
224              Yemen       19.5            19.3              19.6
225             Zambia       16.8            16.6              16.9
226           Zimbabwe       20.0            19.6              20.4

In [27]:
df.to_csv('median_age.csv')