In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [59]:
url = "https://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table"

In [60]:
website_url = requests.get(url).text
soup = BeautifulSoup(website_url,'lxml')
table = soup.find("table",{"class":"wikitable sortable plainrowheaders jquery-tablesorter"})
# tabletype is different than usual wikitable sortable
body = table.find("tbody")
rows = body.findChildren(['th', 'tr'])

In [76]:
countries = []
bronze_list = []
silver_list = []
gold_list = []

In [77]:
for row in rows:
    cells = row.findChildren(['td', 'th'])
    if len(cells) > 1:
        if len(cells[1].findAll('a'))> 0:
            country = cells[1].findAll('a')[0].text
#             if country == '':
#                 country = cells[1].findAll('a')[1].text
            countries.append(country)
        
            gold = cells[2].text.split('\n')[0]
            gold_list.append(gold)
            
            silver = cells[3].text.split('\n')[0]
            silver_list.append(silver)
            
            bronze = cells[4].text.split('\n')[0]
            bronze_list.append(bronze)
        
        elif len(cells[0].findAll('a'))> 0:
            country = cells[0].findAll('a')[0].text
#             if country == '':
#                 country = cells[1].findAll('a')[1].text
            countries.append(country)

            gold = cells[1].text.split('\n')[0]
            gold_list.append(gold)
            
            silver = cells[2].text.split('\n')[0]
            silver_list.append(silver)
            
            bronze = cells[3].text.split('\n')[0]
            bronze_list.append(bronze)

In [78]:
len(countries)

86

In [79]:
df = pd.DataFrame()
df['countries'] = countries
df['gold_medals_2016'] = gold_list
df['silver_medals_2016'] = silver_list
df['bronze_medals_2016'] = bronze_list

In [80]:
df.head()

       countries gold_medals_2016 silver_medals_2016 bronze_medals_2016
0  United States               46                 37                 38
1  Great Britain               27                 23                 17
2          China               26                 18                 26
3         Russia               19                 17                 20
4        Germany               17                 10                 15

In [81]:
df.tail()

,countries,gold_medals_2016,silver_medals_2016,bronze_medals_2016
81,Morocco,0,0,1
82,Nigeria,0,0,1
83,Portugal,0,0,1
84,Trinidad and Tobago,0,0,1
85,United Arab Emirates,0,0,1

In [82]:
df.to_csv('olympic_medals_2016.csv')