In [10]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [11]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_rail_transport_network_size"

In [12]:
website_url = requests.get(url).text
soup = BeautifulSoup(website_url,'lxml')
table = soup.find("table",{"class":"wikitable sortable"})
body = table.find("tbody")
rows = body.findChildren(['th', 'tr'])

In [13]:
railways_per_capita = []
countries = []

In [14]:
for row in rows:
    cells = row.findChildren(['td'])
    if len(cells) > 0:
#         if cells[0].text[0] != 'â€”':
        railway = cells[6].text.split('\n')[0]
        if railway[-1] == ']':
            railway = railway[:-3]
        # take citations out
        railways_per_capita.append(railway)
        country = cells[1].findAll('a')[0].text
        if country == '':
            country = cells[1].findAll('a')[1].text
        countries.append(country)
        # the first link is the flag, but not for all!
        # so check if first link is a text, if not, find second

In [15]:
df = pd.DataFrame()
df['countries'] = countries
df['railways_per_capita'] = railways_per_capita

In [16]:
df.head()

        countries railways_per_capita
0  European Union               2,347
1   United States               2,060
2           China              10,945
3          Russia               1,678
4           India              19,656

In [17]:
df.tail()

        countries railways_per_capita
144          Laos           1,557,550
145        Monaco              20,588
146       Lesotho             723,667
147  Vatican City               3,333
148         World               4,814

In [18]:
df.to_csv('railways.csv')